.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 40px;

background:#111827;

}


.logo{

font-size:22px;

font-weight:bold;

}


.links{

display:flex;

gap:20px;

}


.links a:hover{

color:#60a5fa;

}
