.spinner{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

gap:15px;

}


.circle{

width:40px;

height:40px;

border-radius:50%;

border:5px solid #2563eb;

}
